.vs-notifications {
  text-align: center;
  padding: 5px !important;
  p {
    justify-content: center;
    margin: 10px !important;    
  };
  .vs-icon-noti {
    background: none !important;
  }
  h1, h2, h3{
    color:white;
  }
}