.main-wrapper-default .main-container-fluid {
	margin-left: $full-sidebar;
}

.main-wrapper-mini .main-container-fluid {
	margin-left: $mini-sidebar;
}

.main-container-fluid {
	padding: 84px 20px 20px;
}